{% extends "demo.html" %}
{% block body_block %}
<html lang="">
<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>

      {% for i in access_records %}
      <tr>
        <td scope="row" style="text-transform: capitalize">{{ i.Users }}</td>
{#        <td scope="row">{{ i.Std_id }}</td>#}
{#        <td scope="row">{{ i.Total_fees }}.00 rupees</td>#}
{#        <td scope="row">{{ i.Receipt_no }}</td>#}
{#        <td scope="row"><a href="{% url 'fees-update' pk=i.pk %}">update</a></td>#}
{#        <td scope="row"><a href="{% url 'fees-delete' i.pk %}">delete</a></td>#}

      {% endfor %}
      </table>


    </div>
{% endblock %}
</body>
</html>
